$very-light-grey: #fbfbfb;
$plain-grey: #ccc;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {

  header {
    height: 40px;
    padding: 15px 0;
    width: 100%;
    background: -webkit-linear-gradient(top, $very-light-grey, $plain-grey);
    background: linear-gradient(to bottom, $very-light-grey, $plain-grey);
    font-family: Impact, sans-serif;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .app-intro {
    font-size: large;
  }
}