$very-light-grey: #fbfbfb;
$plain-grey: #ccc;
$video-panel-width: 640px;
$video-panel-height: 360px;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;

  header {
    height: 40px;
    padding: 15px 0;
    width: 100%;
    background: -webkit-linear-gradient(top, $very-light-grey, $plain-grey);
    background: linear-gradient(to bottom, $very-light-grey, $plain-grey);
    font-family: Impact, sans-serif;

    h1 {
      margin: 0;
    }
  }

  main {
    margin: 1.5em 0;
  }

  #search {

    input {
      display: inline-block;
      height: 2.0em;
      width: 50%;
    }

    button {
      display: inline-block;
      padding: .55em;
      width: 100px;
    }
  }

  #player-panel {
    margin: 2em 0;

    #video-wrapper {
      height: $video-panel-height;
      iframe {
        height: $video-panel-height;
        width: $video-panel-width;
      }
    }

    #video-info-panel {
      text-align: center;

      .content {
        display: inline-block;
        border: 2px solid $plain-grey;
        border-top: none;
        text-align: left;
        width: $video-panel-width;

        h2, p {
          padding: 0 .5em 0 0;
        }
      }
    }
  }

}